@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.LoginForm{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 91px auto;
    height: 450px;
    width: 423px;

    //Responsive
    @include responsive_tablet(
        $font_size: auto,
        $line_height: auto,
        $width: 275px,
        $height: 300px
    );
}

.LoginForm-title{
    //font
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: $font-color-primary;
    //Responsive
    @include responsive_tablet(16px, 19px, auto, auto);

}

.LoginForm-input{
    //sizes
    width: 100%;
    height: 63px;
    //style-Container
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid $font-color-secondary;
    outline: none;
    padding: 0px 20px;
    //font
    font-size: 18px;
    line-height: 21px;
    color: $font-color-primary;
    &::placeholder{
        color: $font-color-secondary;
    }
    //Responsive
    @include responsive_tablet(16px, 20px, 100%, 41px);
}

.LoginForm-button{
    // sizes    
    width: 100%;
    height: 62px;

    //style-Container
    border-radius: 4px;
    border: none;
    background-color: $button-inline;
    color: $white;
    display:  flex;
    //font
    font-size: 18px;
    line-height: 21px;
    font-weight: 200;

    .nav-link{
      position: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // text-align: center;

        margin: 0px;
        padding: 0px;
        width: 100%;
        color: white;   
        height: 100%;
        @include responsive_tablet(14px, 16px, 109px, 40px);

    }
    
    //Responsive
    @include responsive_tablet(14px, 16px, 109px, 40px);
  }
  
  //Login button

.google-btn {
    width: 184px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
    margin-top: 10px;
    .google-icon-wrapper {
      position: absolute;
      margin-top: 1px;
      margin-left: 1px;
      width: 40px;
      height: 40px;
      border-radius: 2px;
      background-color: $white;
    }
    .google-icon {
      position: absolute;
      margin-top: 11px;
      margin-left: 11px;
      width: 18px;
      height: 18px;
    }
    .btn-text {
      float: right;
      margin: 11px 11px 0 0;
      color: $white;
      font-size: 14px;
      letter-spacing: 0.2px;
      font-family: "Roboto";
    }
    &:hover {
      box-shadow: 0 0 6px #4285f4;
      cursor: pointer;
    }
    &:active {
      background: #1669F2;
    }
  }
  
