.skirtingBoard{
    //styles
    background-color: $primary;
    display: flex;
    //dimensions
    width: 100%;
    height: fit-content;
    padding: 75px 10%;

    //responsive
    @media (max-width: 790px) {
        padding: 32px 5% 40px 5%;
    }
    @media (max-width: 577px) {
     flex-direction: column;
     align-items: center;
    }
}

.skirtingBoard__container-img{
    //dimensions
    width: 176px;
    height: 50px;
    
    //responsive
    @media(max-width: 790px){
       margin-right: 94px;
    }
    @media(max-width: 577px){
        margin-right: 0px;
    }
}

.skirtingBoard__container__links{
    //position   
    display: flex;
    flex-direction: column;
    //dimensions
    gap: 16px;
    padding: 0px;
    margin: 0px 10%;
    width: 176px;
    height: 234px;   

    //responsive
    @media (max-width: 790px) {
        position: absolute;
        margin: 9% 0px
    }
    @media(max-width: 577px){
        position: relative;
        text-align: center;
        margin: 31px 0px;

    }
}

.skirtingBoard__container__links-link{
    //font-style
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: $font-color-primary;
    text-decoration: none;
}

.skirtingBoard__contactForm{
    //position
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //dimensions
    width: 50%;

    //responsive
    @media (max-width: 790px) {
        width: 100%;
        height: 250px;
    }
}

.skirtingBoard__contactForm-title{
    //font-style
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: $font-color-primary;
}

.skirtingBoard__contactForm__conatinerName{
    // TODO hacer que al hacer click en el campo se haga el focus en el input
    //position
    display: flex;
    flex-direction: column;
    //dimensions
    width: 100%;
    height: 56px;
    //box-style
    background-color: $white;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;

    label{
        //font-style
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: $font-color-secondary;
    }
    input{
        //font-style
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: $font-color-primary;
        //box-style
        border: none;
        background-color: $white;
        outline: none;
    }
}

.skirtingBoard__contactForm-textArea{
    //dimensions
    width: 100%;
    height: 82px;
    padding: 16px 12px;
    //box-style
    background-color: $white;
    border: none;
    border-radius: 4px;
    outline: none;
    resize: none;
    &::placeholder{
        //font-style
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: $font-color-secondary;
    }
}

.skirtingBoard__contactForm-button{
    //dimensions
    width: 165px;
    height: 51px;
    //box-style
    background-color: $button-inline;
    border: none;
    border-radius: 4px;
    //font-style
    color: $white;  
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}