//Colors
$primary: #EAF2FD;
$background: #E5E5E5;
$white: #FFFFFF;  
$button-inline: #2A7AE4;
$button-outline: #fff;
$input-Search: #F5F5F5;

$font-color-primary: #464646;
$font-color-secondary: #A2A2A2;


//Fonts
$font-text: 'RaleWay, sans-serif';
